In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() 
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score


from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [23]:
data= pd.read_csv("C://Users/Saba Naseem/Desktop/Machine Learning/Deep learning with Keras/Classification -Keras/train.csv")

##### Data Preprocessing
* EDA
* Data Cleaning
* Feature Engineering and Selection

In [24]:
data.isnull().sum().sort_values(ascending=False)

total= data.isnull().sum().sort_values(ascending=False)
percent= ((data.isnull().sum()/data.isnull().count())*100).sort_values(ascending=False)

missing= pd.concat([total, percent], axis=1,join='outer', keys=['Total','Percentage'])
missing

             Total  Percentage
Cabin          687   77.104377
Age            177   19.865320
Embarked         2    0.224467
Fare             0    0.000000
Ticket           0    0.000000
Parch            0    0.000000
SibSp            0    0.000000
Sex              0    0.000000
Name             0    0.000000
Pclass           0    0.000000
Survived         0    0.000000
PassengerId      0    0.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [25]:
print("Before: ", data['Sex'].unique())

data['Sex']= data['Sex'].replace({'female':0, 'male':1}).astype('int')

print("After: ", data['Sex'].unique())

Before:  ['male' 'female']
After:  [1 0]

In [26]:
data['Age'].fillna(29, inplace=True)

data.loc[data['Age']<=16, 'Age' ]=0
data.loc[(data['Age']>16) & (data['Age']<=32), 'Age']=1
data.loc[(data['Age']>32) & (data['Age']<=48), 'Age']=2
data.loc[(data['Age']>48) & (data['Age']<=64), 'Age']=3
data.loc[data['Age']>64, 'Age' ]=4

In [27]:
data.loc[data['Fare']<=5, 'Fare' ]=0
data.loc[(data['Fare']>5) & (data['Fare']<=20), 'Fare']=1
data.loc[(data['Fare']>20) & (data['Fare']<=50), 'Fare']=2
data.loc[(data['Fare']>50) & (data['Fare']<=100), 'Fare']=3
data.loc[data['Fare']>100, 'Fare' ]=4
data['Fare']=data['Fare'].astype(int)

print("After: ",data['Fare'].unique())

After:  [1 3 2 4 0]

In [28]:
data['Embarked'].fillna('S', inplace=True)

print("Before: ", data['Embarked'].unique())

data['Embarked']= data['Embarked'].replace({'S':0, 'C':1, 'Q':2}).astype('int')

print("After: ", data['Embarked'].unique())

Before:  ['S' 'C' 'Q']
After:  [0 1 2]

In [29]:
data['Cabin']= data['Cabin'].apply(lambda x: 0 if type(x) == float else 1)

In [30]:
data['Family']=0
data['Family']= data['Parch']+data['SibSp']

In [31]:
data.drop(['PassengerId', 'Name', 'Ticket','Parch','SibSp'], axis=1, inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         891 non-null float64
Fare        891 non-null int32
Cabin       891 non-null int64
Embarked    891 non-null int32
Family      891 non-null int64
dtypes: float64(1), int32(3), int64(4)
memory usage: 45.3 KB

In [13]:
data.head()

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Family
0         0       3    1  1.0     1      0         0       1
1         1       1    0  2.0     3      1         1       1
2         1       3    0  1.0     1      0         0       0
3         1       1    0  2.0     3      1         0       1
4         0       3    1  2.0     1      0         0       0

##### Model Development

In [32]:
y=np.asarray(data['Survived'])

In [33]:
y=np.asarray(data['Survived'])
data.drop('Survived', axis=1, inplace=True)
x=np.asarray(data)

In [35]:
xtrain, xtest, ytrain, ytest= train_test_split(x, y, test_size=0.3, random_state=4)

In [37]:
ytrain[:5]

array([1, 0, 1, 0, 0], dtype=int64)

Finally, before we start building our model, remember that for classification we need to divide our target variable into categories. We use the to_categorical function from the Keras Utilities package.

In [38]:
# one hot encode outputs

ytrain= to_categorical(ytrain)
ytest= to_categorical(ytest)

In [39]:
ytest[:5]

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

Let's build our classification model.

In [17]:
def classification_model():
    
    model = Sequential()
    
    model.add(Dense(xtrain.shape[0], activation='relu', input_shape=(xtrain.shape[1],)))
    
    model.add(Dense(100, activation='relu'))
    
    model.add(Dense(2, activation='softmax'))
    
    model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
    
    return model

In [72]:
model=classification_model()

model.fit(xtrain, ytrain, epochs=10)

score=model.evaluate(xtest, ytest)

Epoch 1/10
623/623 [==============================] - 3s 5ms/step - loss: 0.5730 - acc: 0.7047
Epoch 2/10
623/623 [==============================] - 0s 276us/step - loss: 0.4820 - acc: 0.7817
Epoch 3/10
623/623 [==============================] - 0s 360us/step - loss: 0.4814 - acc: 0.7833
Epoch 4/10
623/623 [==============================] - 0s 339us/step - loss: 0.4621 - acc: 0.7897
Epoch 5/10
623/623 [==============================] - 0s 301us/step - loss: 0.4570 - acc: 0.7833
Epoch 6/10
623/623 [==============================] - 0s 476us/step - loss: 0.4589 - acc: 0.7769
Epoch 7/10
623/623 [==============================] - 0s 335us/step - loss: 0.4407 - acc: 0.7801
Epoch 8/10
623/623 [==============================] - 0s 340us/step - loss: 0.4399 - acc: 0.7945
Epoch 9/10
623/623 [==============================] - 0s 347us/step - loss: 0.4521 - acc: 0.7881
Epoch 10/10
623/623 [==============================] - 0s 282us/step - loss: 0.4383 - acc: 0.8090
268/268 [==============================] - 1s 2ms/step

In [ ]:
print('Accuracy: {}% \n Error: {}'.format(scores[1], 1 - scores[1]))

In [74]:
yhat=model.predict(xtest)

In [75]:
yhat[:5]

array([[0.8275087 , 0.17249124],
       [0.8275087 , 0.17249124],
       [0.09867089, 0.9013291 ],
       [0.0471018 , 0.9528982 ],
       [0.69889915, 0.30110085]], dtype=float32)